@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100;
  src: local("Josefin Sans Thin"), local("JosefinSans-Thin"),
    url(Josefin_Sans.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  overflow: hidden;
}
body {
  height: 600px;
  width: 1366px;
}

/* .slide */
.slide {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slide::after {
  content: "OFF";
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slide::before {
  content: "ON";
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]:checked + label {
  left: 43px;
}
/* end .slide */

/* begin #loader */
#loader {
  font-size: 2em;
  text-align: center;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

#loader {
  transition: all 0.5s;
}

#loader:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* end #loader */
